

.main_container{
    height: 600px;
    width: 600px;
    margin: 5px 0px 0px 20px;
    background-color:#fff;
    position: relative;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content: center;
}
.products{
    height: 250px;
    width: 250px;
    margin: 10px ;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.189);
    background-color:#fff;
    align-content: center;
    text-align: center;
}
.products img{
    height: 180px;
    width:170px;
    object-fit: contain;
}
.products p{
    margin: 0;
    color: rgba(0, 0, 0, 0.653);
}
.product_container{
    height: 400px;
    width: 100%;
    margin: 15px 10px 0px 0px;
    background-color:#fff;
    position: relative;
    display: flex;
    align-items: center;
    
}
.heading {
    display:inline;
    position: absolute;
    top:5px;
    left: 10px;
    margin: 0;
    border: none;
}
.all_products{
    height: 280px;
    width: 230px;
    margin: 5px 0px 0px 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.189);
    background-color:#ffffffe2;
    align-content: center;
    text-align: center;
    
}
.all_products img{
    height: 200px;
    width: 100px;
    object-fit: contain;

}
@media screen  and (max-width: 1450px) {
    .main_container{
        height: 1150px;
        width: auto;
        
    }
    .heading{
        font-size:larger;
    }
    .product_container{
        justify-content: center;
        flex-wrap: wrap;
        height: 1000px;
    
    }
    .products{
        width: auto;
        height: auto;
    }

}
@media screen and (max-width: 450px) {
    .product_container{
        height: auto;
        width: auto;
        font-size:xx-small ;
    }
    .heading {
        font-size: xx-small;
    }
    
    
}   